html, body {
    margin: 0;
    padding: 0;
    border: 0; 
}

body {
    margin: 0% 20% 5% 20%;
}

p,ul {
    margin-top: 0;
    color: #4d4d4d;
    font-family: 'Quicksand', Arial, sans-serif;
    font-weight: 300;
    font-size: 1.1vw;
    line-height: 1.25;
}

ul {
    list-style: inside;
    padding-left: 3px;
}

a {
    color: #2980B9;
    text-decoration: none;
}

img {
    max-width: 100%;
}

hr {
    border: 0;
    width: 100%;
    background-color: #e6e6e6;
    height: 1px;
}

/* Header */

#header {
    color: #4d4d4d;
    border-bottom: solid 1px #e6e6e6;
    font-family: 'Quicksand', Verdana, sans-serif;
    padding: 6% 0% 3% 0%;
    margin-bottom: 5%;
}

#header-name {
    font-weight: 300;
    font-size: 2vw;
    line-height: 0;
}

#header-links {
    font-weight: 300;
    font-size: 1.25vw;
    line-height: 0.5;
}

/* About */

#about {
    display: flex;
    margin-bottom: 5%;
    align-items: center;
}

#about-portrait {
    text-align: center;
    max-width: 27%;
    margin-bottom: 1%;
    flex-grow: 1;
    flex-basis: 0;
}

#about-text {
    margin-left: 5%;
    flex-grow: 2;
    flex-basis: 0;
}

/* Projects */

#projects {
    width: 100%;
    border-spacing: 0;
}

#projects p {
    margin: 0;
}

#projects td {
    vertical-align: top;
    padding-bottom: 4%;
}

.project-img {
    text-align: center;
    width: 35%;
}

.project-txt {
    padding-top: 2%;
    padding-right: 3%;
}


/* Increase font size and reduce margins for smaller windows */

/* @media (max-width: 800px) { */
/*     div { */
/*         margin: 0% 10% 0% 10%; */
/*     } */
/*     .bar { */
/*         margin: 0% 10% 0% 10%; */
/*         padding: 5% 0% 0% 0%; */
/*         /1* border-bottom: none; *1/ */
/*     } */
/*     .content { */
/*         border-top: none; */
/*     } */
/*     .bar_text { */
/*         margin: 0% 0% 0% 0%; */
/*         text-align: center; */
/*         width: 100%; */
/*     } */
/*     .bar_icons { */
/*         margin: 0% 0% 0% 0%; */
/*         text-align: center; */
/*         width: 100%; */
/*     } */
/*     .bar_icons img { */
/*         margin: 3% 3% 0% 3%; */
/*         height: 11vw; */
/*     } */
/*     .name { */
/*         font-size: 5vw; */
/*     } */
/*     .email{ */
/*         font-size: 3vw; */
/*     } */
/*     .portrait { */
/*         display: block; */
/*         width: 50%; */
/*         margin: auto; */
/*         float: none; */
/*     } */
/*     p,ul { */
/*         font-size: 3vw; */
/*         line-height: 1.75; */
/*     } */
/* } */
