html, body {
    margin: 0;
    padding: 0;
    border: 0; 
}

body {
    margin-bottom: 2%;
}

p {
    color: #4d4d4d;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
    line-height: 1.5;
}

a {
    color: #2980B9;
    text-decoration: none;
}

div {
    margin: 0% 20% 0% 20%;
    padding: 2% 0% 2% 0%;
    overflow: hidden;
}

.name {
    margin: 0% 0% 0% 0%;
    padding: 2.5% 0% 2.5% 20%;
	background-color: #e6e6e6;
    color: #4d4d4d;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5vw;
}

/* Don't want divider between about and contacts section,
 * so remove the paddings */

.about {
    padding-bottom: 0%;
}

.contacts {
    padding-top: 0%;
}

.contacts a {
    color: inherit;
}

.projects, .courses {
    border-top: solid 1px #e6e6e6;
}

/* Increase font size and reduce margins for smaller windows */

@media (max-width: 800px) {
    div {
        margin: 0% 10% 0% 10%;
    }
    .name {
        font-size: 4vw;
    }
    p {
        font-size: 3vw;
        line-height: 1.75;
    }
}
