html, body {
    margin: 0;
    padding: 0;
    border: 0; 
}

body {
    margin-bottom: 4%;
}

p,ul {
    color: #4d4d4d;
    font-family: 'Quicksand', Arial, sans-serif;
    font-weight: 300;
    font-size: 1.2vw;
    line-height: 1.5;
}

ul {
    list-style: inside;
    padding-left: 3px;
}

a {
    color: #2980B9;
    text-decoration: none;
}

div {
    margin: 0% 20% 0% 20%;
    padding: 1% 0% 1% 0%;
    overflow: hidden;
}

.portrait {
    float: left;
    margin: 2% 3% 0% 0%;
    width: 25%;
    height: auto;
}

.portrait img {
    max-width: 100%;
    max-height: 100%;
}

.bar {
    /* margin: 0% 0% 0% 0%; */
    /* padding: 1% 20% 1% 20%; */
	/* background-color: #e6e6e6; */
    margin: 0% 20% 0% 20%;
    color: #4d4d4d;
    border-bottom: solid 1px #e6e6e6;
    font-family: 'Quicksand', Verdana, sans-serif;
    /* border-bottom: 0.5px solid #4d4d4d; */
}

.bar_text {
    margin: 0% 0% 0% 0%;
    float: left;
    width: 70%;
}

.bar_icons {
    text-align: right;
    margin: 2.5% 0% 0% 0%;
    width: 30%;
}

.bar_icons img {
    height: 2.5vw;
    margin-left: 5%;
}

.name {
    font-weight: 300;
    font-size: 2vw;
    line-height: 0;
}

.email {
    font-weight: 300;
    font-size: 1.25vw;
    line-height: 0.5;
    /* color: #2980B9; */
}

.content {
    border-top: solid 1px #e6e6e6;
    /* border-bottom: solid 1px #e6e6e6; */
}

/* Increase font size and reduce margins for smaller windows */

@media (max-width: 800px) {
    div {
        margin: 0% 10% 0% 10%;
    }
    .bar {
        margin: 0% 10% 0% 10%;
        padding: 5% 0% 0% 0%;
        /* border-bottom: none; */
    }
    .content {
        border-top: none;
    }
    .bar_text {
        margin: 0% 0% 0% 0%;
        text-align: center;
        width: 100%;
    }
    .bar_icons {
        margin: 0% 0% 0% 0%;
        text-align: center;
        width: 100%;
    }
    .bar_icons img {
        margin: 3% 3% 0% 3%;
        height: 11vw;
    }
    .name {
        font-size: 5vw;
    }
    .email{
        font-size: 3vw;
    }
    .portrait {
        display: block;
        width: 50%;
        margin: auto;
        float: none;
    }
    p,ul {
        font-size: 3vw;
        line-height: 1.75;
    }
}
