@import 'https://fonts.googleapis.com/css?family=Raleway';

/* ------ HTML ELEMENTS ------ */
a, a:visited, a:hover {
	color: black;
	text-decoration: none;
}

h1 {
	font-weight: normal;
}

hr {
	margin-left: 7.5%;
	margin-top: 2%;
	width: 85%;
	size: 1px;
	color: white;
}

img {
	/* To make images fit perfectly into containing div. */
	max-width: 100%;
	max-height: 100%;
	display: block;
}

/* ------ HEADER ------ */

#header-container {
	/* #e6e6e6 */
	background-color: #e6e6e6;
	padding: 1.5% 0 1.5% 0;
	position:relative;
	width: 100%;
	max-height: 6%;
	z-index: 1;
}

	#header-title {
		color: #4d4d4d;
		display: inline-block;
		font-family: 'Raleway', sans-serif;
		font-size: 1em;
		margin-left: 7.5%;
		vertical-align: middle;
		width: 42.5%;
	}

	#header-tabs-container {
		color: #4d4d4d;
		display: inline-block;
		font-family: 'Raleway', sans-serif;
		font-size: 0.75em;
		margin-right: 7.5%;
		text-align: center;
		vertical-align: middle;
		width: 42.5%;
	}

		.header-tab {
			display: inline-block;		

			margin-left: 10%;
		}

			.header-tab a, a:visited {
				color: #4d4d4d;
			}

		#current-tab {
				border-bottom: none; /* Replace underline for better text-line spacing */
		}

/* ------ CONTENT ------ */

#content {
	padding-top: 6%;
}

	.projects-left-container {
		position: relative;
		display: inline-block;
		margin: 0 0.5% 1% 7.5%;
		width: 42%;
		overflow:hidden;
	}

	.projects-right-container {
		display: inline-block;
		margin: 0 7.5% 1% 0.5%;
		width: 42%;
	}

/* ------ FOOTER ------ */

#footer {
	color: #808080;
	font-family: 'Raleway', sans-serif;
	font-size: 0.75em;
	margin-bottom: 1%;
	text-align: center;
}

/* ------ OTHERS ------ */

