@import 'https://fonts.googleapis.com/css?family=Raleway';

a, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #bfbfbf;
}

h1 {
	font-weight: normal;
}

hr {
	margin-left: 12.5%;
	margin-top: 2%;
	width: 75%;
}

/***** ID *****/

#home-title {
	background-color: #e6e6e6;
	color: #4d4d4d;
	font-family: 'Raleway', sans-serif;
	font-size: 3vw;
	line-height: 0.8;
	padding: 1.5%;
	text-align: center;
}

#home-tabs {
	background-color: #808080;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 1vw;
	margin-bottom: 1.5%;
	padding: 1%;
	text-align: center;
}

#current-tab {
	color: #ffffff;
}

#logo {
	margin-left: 40%;
	width: 20%;
	margin-bottom: -3px;
}

#footer {
	color: #808080;
	font-family: 'Raleway', sans-serif;
	font-size: 0.75vw;
	margin-bottom: 1%;
	text-align: center;
}

/***** CLASSES *****/

.footer-link {
	color: #808080;
}

.projects-left {
	display: inline-block;
	margin-bottom: 1%;
	margin-left: 9%;
	margin: left;
	width: 40%;
}

.projects-right {
	display: inline-block;
	margin-bottom: 1%;
	margin-left: 1.5%;
	margin: right;
	width: 40%;
}

.projects-text-title-left {
	clear: left;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 1vw;
	margin-bottom: 0.5%;
	margin-left: 24%;
}

.projects-text-title-right {
	clear: right;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 1vw;
	margin-bottom: 0.5%;
	margin-left: 31%;
}

.projects-text-body-left {
	clear: left;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 1vw;
	margin-bottom: 1.5%;
	margin-left: 14%;
	max-width: 30%;
	text-align:center;
}

.projects-text-body-right {
	clear: right;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 1vw;
	margin-bottom: 1.5%;
	margin-left: 11%;
	max-width: 30%;
	text-align:center;
}
