<div id="courses">
  <p><b> Coursework </b></p>
  <p><a href="https://registrar.princeton.edu/course-offerings"> Princeton Course Guide </a> / 
  <a href="https://lsa.umich.edu/cg/"> Michigan Course Guide </a></p>
  <hr>
  <table>
    <tr>
      <td><p>
        COS 518: Distributed Systems
      </p></td>
      <td><p>
        COS 597: Computer Science for Policy &amp; Law
      </p></td>
    </tr>
    <tr>
      <td><p>
        EECS 482: Operating Systems
      </p></td>
      <td><p>
        EECS 489: Computer Networks
      </p></td>
    </tr>
    <tr>
      <td><p>
        EECS 484: Database Systems
      </p></td>
      <td><p>
        EECS 494: Game Development 
      </p></td>
    </tr>
    <tr>
      <td><p>
        EECS 485: Web Systems
      </p></td>
      <td><p>
        EECS 498: Election Cybersecurity
      </p></td>
    </tr>
    <tr>
      <td><p>
        EECS 398: Autonomous Robotics
      </p></td>
      <td><p>
        EECS 388: Computer Security
      </p></td>
    </tr>
    <tr>
      <td><p>
        EECS 370: Computer Architecture
      </p></td>
      <td><p>
        EECS 281: Data Structures &amp; Algorithms
      </p></td>
    </tr>
  </table>
</div>
