<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="keywords" content="Victor, Ongkowijaya"/>
    <meta name="author" content="Victor Ongkowijaya"/>
		<meta name="description" content="Personal website and portfolio of Victor Ongkowijaya."/>
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <title> {{ page.title }} </title>
  </head>
  <body>
		{{ content }}
  </body>
</html>
