---
layout: default
---

<div id="about">
  <div id="about-portrait">
    <img src="{{ site.url }}/assets/images/self.png">
  </div>
  <div id="about-text">
    {{ content }}
  </div>
</div>

<!-- <table id="projects"> -->
<!-- {% for project in site.projects %} -->
<!--     <tr> -->
<!--       <td class="project-txt"> -->
<!--         {{ project.content }} -->
<!--       </td> -->
<!--       <td class="project-img"> -->
<!--         <img src ="{{ site.url }}/assets/images/{{ project.image }}"> -->
<!--       </td> -->
<!--     </tr> -->
<!-- {% endfor %} -->
<!-- </table> -->
